/*.option-buttons {

    display:flex;
    display:contents;
    height: 50px;
    align-items: center; 
    font-family: Helvetica; 
}
*/
h1#Head8{ font-family: Times New Roman ;
    letter-spacing: 1.2cm;
   

}
#Shakebtn{ 
    hover: background-color: yellow;
      
    font-size: 50px;
    align-items:;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-bottom: 10px;
       padding-top: 2px;
       padding-right: 17px;
       padding-bottom:2px;
       padding-left: 17px;
       margin-top: 16px;
       margin-right: 0px;
       margin-bottom: 0px;
       margin-left: 20px;
}
div{
    align-items: center;
}
#Shakebtn:hover{
    background-color: rgb(121, 116, 116);
}
.ResetBtn{}

#questionArea{
text-area

}
#content{
    background-color: #0000 ;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 450px;
    align-items: center;
}
}
h2 {
    align-items: center;
}
    
}


/*.btn-grid{
    display: ;
    grid-template-columns: ;
    gap: 10px;
}*/
/*div.container{ 
    width: 100%;
display: inline-block;
align-items: center;
background: rgb(255,186,8);
background: linear-gradient(49deg, rgba(255,186,8,1) 0%, rgba(250,163,7,1) 35%, rgba(232,93,4,1) 100%);
justify-content:center;
}/*

/*fourm{max max-width: ;
height:0px;
padding: 2cm;
}*/
fourm p{
    font-size: 0cm;
    line-height: 0cm;
}
fourm fieldset{
    padding:0cm;
    border:none;
}

 #eightBallTxt{tex


 }

#Reset{ margin-top:40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 218px;
    
}
   
}

}


#Text{
    padding-top: 1000px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
/*body{
    background: linear-gradient(333deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-color: #000000;
background-repeat: no-repeat;
height: 100%;

}*/
body{
    background-color: black;
    padding-top: 100px;
    padding-right: 150px;
    padding-bottom: 0px;
    padding-left: 150px;
}
 #content{ justify-content: center;
    padding-top: 0px;
padding-right: 120px;
padding-bottom: 20px;
padding-left: 200px;
    margin: 0px;
    background: rgb(131,58,180);
    background: linear-gradient(333deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-color: black;
    background-repeat: no-repeat;
 font-size: 30px;
 font-family:Impact;
 letter-spacing: .5px;
}
div.btn{background-color: #f48c06;


}
 /*div.btn-grid{
    border-top: 0px;
    border-right: 25px;
    border-bottom: 0px;
    border-left: 25px; 
    background-color:linear-gradient(#03071e #370617);

 }
 img.banner{
   
     
   
   }
   
   #banner{
    width: 200px;
     height: 200px;
   }
   button.reset{hover:
    color: #f48c06;
   }
   */ 
#eightBall{
    height: 100px;
    width: 100px;
background-color: black;
margin-top: 23px;
   margin-left: 70px;
    border-radius: 100%;
   }
;
}
h1{

    font-family:Arial, ;
    padding-top: 0px;
    padding-right: 120px;
    padding-bottom: 0px;
    padding-left: 43px;
       }
   h2{
    font-family:fantasy ;
    padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 20px;
   }